.join__title{
  font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;  
    color: #FFFFFF;
}
.join__list{
  list-style: none;
  display: flex;
  justify-content: center;  
}