

.subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
   @extend %flex-align;
  letter-spacing: 0.03em;
}
%flex-align{
  display: flex;
  align-items: center;
}